
.profile-container ul{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 15px;
    list-style: none;
    padding-left: 0px;
}

.profile-container ul li{
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.profile-container ul li img{
    width: "150px";
    margin-Left:"40px"
}

#box{
    margin-top: 50px;
}